html {
  overflow: hidden;
}

body {
  font-family: "Montserrat", sans-serif;
  color: #ffffff;
}

#particles-js {
  background: #000000;
  background: -webkit-linear-gradient(to left, #434343, #000000);
  background: linear-gradient(to left, #434343, #000000);
  height: 100vh;
}

#myForm,
#forget {
  /* visibility: hidden; */
  display: none;
}

.form-group input {
  background: transparent;
  color: #ffffff;
  font-size: 12px;
  border-radius: 0;
  padding: 0;
  margin: 0;
}

.form-group input[type="date"]:focus {
  background: transparent;
  color: #ffffff;
}

::-webkit-calendar-picker-indicator {
  filter: invert(100);
}

.form-inline button {
  padding: 0;
}

.form-inline button span {
  font-size: 12px;
}

.form-inline button,
.form-inline button:hover {
  color: #ffffff;
  border: none;
  background: none;
}

#forget {
  background: transparent;
  border: #ffffff solid 1px;
  border-radius: 0;
  /* z-index: 2; */
}

.container-c {
  position: relative;
}

.counter {
  position: absolute;
  width: 70%;
  margin-left: auto;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: #ffffff solid 1px;
}

h1 {
  font-size: 65px;
  font-weight: 700;
  margin: 0;
}

span {
  font-size: 15px;
}

.c-border {
  border-right: #ffffff solid 1px;
}
